<!DOCTYPE html>
<html>
  <head>
    <title>Yelp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta charset='utf8'>
    <link rel="stylesheet" href="stylesheet.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="sea_stylesheet.css" type="text/css" charset="utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/960_12_col.css" />
  </head>
  <body>
    <div class="container_12 clearfix">
      <div id='header' class="article_grid_4">
        <nav>
            <div id='logo_text'>Yelp!</div>

            <div class="user_management">
              <%=  link_to 'Add a restaurant', new_restaurant_path, class:"nav_buttons", id:"add" %>

              <% if user_signed_in? %>
                <h1 id="logged_in">Logged in as <%= current_user.email %></h1>
                <%= link_to 'Sign out', destroy_user_session_path, method: :delete,class:"nav_buttons", id:"out" %>
              <% else %>
              <ul class ="user_management">
                <%= link_to 'Sign in', new_user_session_path,class:"nav_buttons", id:"in" %>
                <%= link_to 'Sign up', new_user_registration_path, class:"nav_buttons", id:"up" %>
              <% end %>
            </div>

        </nav>
      </div>
        <h1 id='flash' class="grid_12">
            <%= notice %>
        </h1>
        <div id='restaurant' class="article_grid_4">
            <%= yield %>
        </div>
      </div>
  </body>
</html>
